Source: bcftools
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders:
	Afif Elghraoui <afif@debian.org>
Build-Depends:
	debhelper (>= 10),
	zlib1g-dev,
	libbz2-dev,
	liblzma-dev,
	libhts-dev (>= 1.5-3),
	libgsl-dev,
	tabix <!nocheck>,
	libio-pty-perl <!nocheck>,
Standards-Version: 4.1.2
Homepage: http://samtools.github.io/bcftools/
Vcs-Git: https://anonscm.debian.org/git/debian-med/bcftools.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-med/bcftools.git

Package: bcftools
Architecture: any
Breaks: samtools (<< 1.0)
Replaces: samtools (<< 1.0)
Depends:
	${shlibs:Depends},
	${misc:Depends},
	${perl:Depends}
Suggests:
# These are needed for plot-vcfstats
	python,
	python-numpy,
	python-matplotlib,
	texlive-latex-recommended
Description: genomic variant calling and manipulation of VCF/BCF files
 BCFtools is a set of utilities that manipulate variant calls in the
 Variant Call Format (VCF) and its binary counterpart BCF. All commands work
 transparently with both VCFs and BCFs, both uncompressed and BGZF-compressed.
