#!/usr/bin/make -f

#DH_VERBOSE = 1
#include /usr/share/dpkg/default.mk

export HTSDIR=/usr/include
export USE_GPL=1
export plugindir=/usr/lib/$(DEB_HOST_MULTIARCH)/bcftools

%:
	dh $@ --parallel

override_dh_installman:
	dh_installman --language=C

# clean target tries to include config.mk which does not exist inside clean source tree
override_dh_auto_clean:
	dh_auto_clean || true
	# now it is created but should vanish
	rm -f config.mk

override_dh_auto_configure:
	dh_auto_configure -- --with-htslib=/usr/lib/htslib
